# Maven
target/
!target/*.jar
**/target/
!**/target/*.jar

# Git
.git/
.gitignore

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log

# Temp files
*.tmp
*.temp

# Allow infrastructure JAR files
!infrastructure/**/*.jar
