target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.project
.classpath
**.DS_Store
**.DS_Store**
**/.DS_Store**
**/.DS_Store/**
openframe/.DS_Store
**/loki-wal
**/loki-cache
**/loki-chunks
**/openframe-stream/logs
**/loki-index
**/jmx_exporter/jmx_prometheus_javaagent.jar
**/target/
.idea/
*.iml
.vscode/
**.class
**.log
.env
node_modules/
.classpath
**.DS_Store
**/logs
.DS_Store
**/.DS_Store
.DS_Store
openframe/.DS_Store
/log.path:logs_IS_UNDEFINED
**/log/**
**/.LCKpom.xml~
**IS_UNDEFINED**
*.java~
openframe/.DS_Store
openframe/.DS_Store
openframe/.DS_Store
.DS_Store
openframe/.DS_Store
openframe/.DS_Store
.DS_Store
/tacticalrmm
**/rmmagent_build/**
**/rmmagent_build
**/tactical-rmm/rmmagent_build/**
**/tactical-rmm/rmmagent_build**
**/tactical-rmm/rmmagent
/agent/infrastructure/tactical-rmm/rmm_build_1740724424
