<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <springProperty name="SPRING_APP_NAME" source="spring.application.name"/>
    <property name="SPRING_CONTAINER_IP" value="${CONTAINER_IP:-localhost}" />

    <!-- Console Appender -->
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Rolling File Appender (Text Format) -->
    <appender name="RollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>50MB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Rolling File Appender (JSON Format) -->
    <appender name="JsonRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.%i.json</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>50MB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <level />
                <threadName />
                <loggerName />
                <message />
                <mdc />
                <stackTrace />
            </providers>
        </encoder>
    </appender>

    <!-- Loki Appender -->
    <appender name="LokiRemoteAppender" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://loki:3100/loki/api/v1/push</url>
        </http>
        <format>
            <message class="com.github.loki4j.logback.JsonLayout" />
            <label>
                <pattern>category=microservices,app=${SPRING_APP_NAME},host=${SPRING_CONTAINER_IP}</pattern>
            </label>
        </format>
    </appender>

    <!-- Loggers -->
    <root level="info">
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="RollingFileAppender" />
        <appender-ref ref="JsonRollingFileAppender" />
        <appender-ref ref="LokiRemoteAppender" />
    </root>

</configuration>